.block{
	border: 10px solid white;
	background-color: white;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%;
	margin-top:10%;
	background-image: url("");
}
.box-heading{
	background-color:  #A8F0F0;
    text-align: right;
}
.box-inside{
	font-size: 14pt;
}
span{
	border-bottom: 2px dashed blue;
}
.body-arthicle{
	border:4px solid  #C2E9E9;
	background-color: #E8FBFB;
	padding:5px auto;
	margin-top: 10px;
	overflow: hidden;
}
img{
	float:right;
}
